* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
button,
input {
  border-color: transparent;
  outline-color: transparent;
}
img {
  width: 100%;
}
