*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
button,
input {
  border: none;
  outline: none;
}
img {
  max-width: 100%;
  display: block;
}
